<div class="jumbotron text-center">
  <h1>  Daily Product View </h1>
</div>
<hr>

<div class="text-center">
  <h2> Featured Product for the Day </h2>
  <hr>
  <p>
    <b> <%= @item["name"] %> </b>
  </p>
</div>
<hr>
<div>
  <img src="https://res.cloudinary.com/dgbmeqmyf/image/upload/v1556195525/<%= @item["image"] %>" alt="">
</div>

<div class="row container-fluid product-details jumbotron">
  <div class="col-md-12 col-lg-6 text-center">
    <h2 class="bold-tag"> Description: </h2>
  </div>
  <div class="col-md-12 col-lg-6 text-center description">
    <h2> <%= @item["description"] %> </h2>
  </div>
  <hr><hr><hr><hr>
  <div class="col-md-12 col-lg-6 text-center">
    <h2 class="bold-tag"> Price: </h2>
  </div>
  <div class="col-md-12 col-lg-6 text-center description">
    <h2> $<%= @item["price"] %> </h2>
  </div>
</div>
<hr>
<div class="text-center">
  <button class="btn btn-primary">
    Make your order
  </button>
</div>
