<div class="jumbotron text-center">
  <h1>  Daily Product View </h1>
</div>
<hr>

<div class="text-center">
  <h2> Featured Product for the Day </h2>
  <hr>
  <p>
    <b class="bold-tag"> Arc d'Triomphe </b>
  </p>
</div>
<hr>
<div>
  <img src="https://res.cloudinary.com/dgbmeqmyf/image/upload/v1556195497/arc-d-triomphe-thumbnail.gif" alt="">
</div>

<div class="row container-fluid product-details jumbotron">
  <div class="col-md-12 col-lg-6 text-center">
    <h2 class="bold-tag"> Description: </h2>
  </div>
  <div class="col-md-12 col-lg-6 text-center description">
    <h2> This beautiful and iconic T-shirt will no doubt lead you to your own triumph. </h2>
  </div>
  <hr><hr><hr><hr>
  <div class="col-md-12 col-lg-6 text-center">
    <h2 class="bold-tag"> Price: </h2>
  </div>
  <div class="col-md-12 col-lg-6 text-center description">
    <h2> $14.99 </h2>
  </div>
</div>
<hr>
<div class="text-center">
  <button class="btn btn-primary">
    Make your order
  </button>
</div>
