img {
  width: 70%;
  margin: 4% 15% 2% 15%;
  border-radius: 10px;
}

.bold-tag {
  font-weight: bold;
  /* text-transform: uppercase;; */
}

.product-details {
  width: 70%;
  margin: 4% 15% 2% 15%;
}

.description {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1000px) {
  img {
    width: 30%;
    margin: 4% 35% 2% 35%;
    border-radius: 10px;
  }
}
